In [ ]:
#reverse a string

In [ ]:
def reverse_string(s):
    return s[::-1]
print(reverse_string("hello i am jay mahyavanshi"))

ihsnavayham yaj ma i olleh

In [ ]:
#count the number of vowels in a string

In [ ]:
def count_vowels(s):
  vowels = "aeiouAEIOU"
  return sum(1 for char in s if char in vowels)
print(count_vowels("hello i am jay mahyavanshi"))

9

In [ ]:
#checkin if a string is a palindrome

In [ ]:
def is_palindrome(s):
  return s == s[::-1]
print(is_palindrome("hello i am jay mahyavanshi"))

False

In [ ]:
#check if two strings are anagrams

In [ ]:
def are_anagrams(s1, s2):
  return sorted(s1) == sorted(s2)
print(are_anagrams("jay", "vijay"))

False

In [ ]:
#find all occurrences of a substing

In [ ]:
def find_occurrences(s, sub):
  return [i for i in range(len(s)) if s.startswith(sub, i)]
print(find_occurrences("banana", "ana")) #Fixed: Indentation corrected to match the function definition

[1, 3]

In [ ]:
def string_compression(s):
    compressed = []
    count = 1
    for i in range(1, len(s)):
        if s[i] == s[i-1]:
            count += 1
        else:
            compressed.append(s[i-1] + str(count))
            count = 1
    compressed.append(s[-1] + str(count))
    return ''.join(compressed)
print(string_compression("aaabbcc"))

a3b2c2

In [ ]:
def has_unique_chars(s):
    return len(s) == len(set(s))
print(has_unique_chars("hello i am jay "))

False

In [ ]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()
print(convert_case("jay", to_upper=False))

jay

In [ ]:
def count_words(s):
    return len(s.split())
print(count_words("mahyavanshi!"))

1

In [ ]:
def concatenate_strings(s1, s2):
    return f"{s1}{s2}"
print(concatenate_strings("jay", "mahayvanshi"))

jaymahayvanshi

In [ ]:
def remove_element(lst, element):
    return [x for x in lst if x != element]
print(remove_element([1, 2, 3, 2, 4], 2))

[1, 3, 4]

In [ ]:
def second_largest(lst):
    unique_sorted = sorted(set(lst), reverse=True)
    return unique_sorted[1] if len(unique_sorted) > 1 else None
print(second_largest([4, 2, 1, 3]))

3

In [ ]:
def count_occurrences(lst):
    from collections import Counter
    return dict(Counter(lst))
print(count_occurrences([1, 2, 1, 3, 2, 2]))

{1: 2, 2: 3, 3: 1}

In [ ]:
def reverse_list(lst):
    for i in range(len(lst) // 2):
        lst[i], lst[-i-1] = lst[-i-1], lst[i]
    return lst
print(reverse_list([1, 2, 3, 4]))

[4, 3, 2, 1]

In [ ]:
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]
print(remove_duplicates([1, 2, 2, 3, 4, 3]))

[1, 2, 3, 4]

In [ ]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)
print(is_sorted([1, 2, 3]))
print(is_sorted([3, 2, 1]))
print(is_sorted([1, 3, 2]))

True
True
False

In [ ]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
def merge_sorted_lists(lst1, lst2):
    return sorted(lst1 + lst2)
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))

[1, 2, 3, 4, 5, 6]

In [ ]:
def intersection(lst1, lst2):
    return list(set(lst1) & set(lst2))
print(intersection([1, 2, 3], [2, 3, 4]))

[2, 3]

In [ ]:
def union(lst1, lst2):
    return list(set(lst1) | set(lst2))
print(union([1, 2, 3], [2, 3, 4]))

[1, 2, 3, 4]

In [ ]:
import random
def shuffle_list(lst):
    random.shuffle(lst)
    return lst
print(shuffle_list([1, 2, 3, 4]))

[2, 1, 4, 3]

In [2]:
def common_elements(t1, t2):
    return tuple(set(t1) & set(t2))
print(common_elements((1, 2, 3), (2, 3, 4)))

(2, 3)

In [8]:
def set_intersection():
    set1 = set(map(int, input("Enter set 1 (comma-separated): ").split(',')))
    set2 = set(map(int, input("Enter set 2 (comma-separated): ").split(',')))
    return set1 & set2
print(set_intersection())

Enter set 1 (comma-separated): 1
Enter set 2 (comma-separated): 2
set()

In [9]:
def concatenate_tuples(t1, t2):
    return t1 + t2
print(concatenate_tuples((1, 2), (3, 4)))

(1, 2, 3, 4)

In [7]:
def difference_between_sets():
    set1 = set(input("Enter set 1 (comma-separated): ").split(','))
    set2 = set(input("Enter set 2 (comma-separated): ").split(','))
    return set1 - set2
print(difference_between_sets())

Enter set 1 (comma-separated): 1
Enter set 2 (comma-separated): 2
{'1'}

In [10]:
def extract_elements(t, start, end):
    return t[start:end]
print(extract_elements((1, 2, 3, 4, 5), 1, 4))

(2, 3, 4)

In [11]:
def union_of_characters():
    set1 = set(input("Enter characters for set 1: "))
    set2 = set(input("Enter characters for set 2: "))
    return set1 | set2
print(union_of_characters())

Enter characters for set 1: 1
Enter characters for set 2: 2
{'2', '1'}

In [12]:
def max_min_tuple(t):
    return max(t), min(t)
print(max_min_tuple((1, 2, 3, 4)))

(4, 1)

In [13]:
def set_operations():
    set1 = set(map(int, input("Enter set 1: ").split(',')))
    set2 = set(map(int, input("Enter set 2: ").split(',')))
    return {
        "union": set1 | set2,
        "intersection": set1 & set2,
        "difference": set1 - set2,
    }
print(set_operations())

Enter set 1: 1
Enter set 2: 2
{'union': {1, 2}, 'intersection': set(), 'difference': {1}}

In [14]:
def count_occurrences(t, elem):
    return t.count(elem)

# Example usage
t = (1, 2, 3, 4, 3, 3, 5)
print(count_occurrences(t, 3))

3

In [15]:
def symmetric_difference():
    set1 = set(input("Enter elements of set 1 (comma-separated): ").split(','))
    set2 = set(input("Enter elements of set 2 (comma-separated): ").split(','))
    return set1 ^ set2

# Example usage
print(symmetric_difference())

Enter elements of set 1 (comma-separated): 1
Enter elements of set 2 (comma-separated): 2
{'2', '1'}

In [16]:
def word_frequency(words):
    freq = {}
    for word in words:
        freq[word] = freq.get(word, 0) + 1
    return freq

# Example usage
words = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(word_frequency(words))

{'apple': 3, 'banana': 2, 'orange': 1}

In [17]:
def merge_dictionaries(dict1, dict2):
    merged = dict1.copy()
    for key, value in dict2.items():
        merged[key] = merged.get(key, 0) + value
    return merged

# Example usage
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}
print(merge_dictionaries(dict1, dict2))

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [18]:
def access_nested_dict(d, keys):
    current = d
    for key in keys:
        if key in current:
            current = current[key]
        else:
            return None
    return current

# Example usage
nested_dict = {'a': {'b': {'c': 42}}}
keys = ['a', 'b', 'c']
print(access_nested_dict(nested_dict, keys))
print(access_nested_dict(nested_dict, ['a', 'x']))

42
None

In [19]:
def sort_dict_by_values(d, ascending=True):
    return dict(sorted(d.items(), key=lambda x: x[1], reverse=not ascending))

# Example usage
d = {'a': 3, 'b': 1, 'c': 2}
print(sort_dict_by_values(d))
print(sort_dict_by_values(d, ascending=False))

{'b': 1, 'c': 2, 'a': 3}
{'a': 3, 'c': 2, 'b': 1}

In [20]:
def invert_dictionary(d):
    inverted = {}
    for key, value in d.items():
        if value in inverted:
            inverted[value].append(key)
        else:
            inverted[value] = [key]
    return inverted

# Example usage
d = {'a': 1, 'b': 2, 'c': 1}
print(invert_dictionary(d))

{1: ['a', 'c'], 2: ['b']}